.background-icon3,
.footer-child1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2304px;
  height: 3863px;
}
.footer-child1 {
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 337px;
}
.a8 {
  color: var(--color-gray-200);
}
.span10 {
  color: var(--color-darkslategray);
}
.anjana6 {
  top: 42px;
  left: 74px;
  font-size: var(--font-size-21xl);
  -webkit-text-stroke: 1px #dac9c9;
  color: var(--color-lightgray-100);
}
.about6,
.anjana6,
.contact9,
.home6,
.pratham4,
.projects10 {
  position: absolute;
  letter-spacing: 0.01em;
  line-height: 110%;
}
.pratham4 {
  top: 42px;
  left: 59px;
  font-size: var(--font-size-21xl);
  display: none;
  -webkit-text-stroke: 1px #dac9c9;
  color: var(--color-lightgray-100);
}
.about6,
.contact9,
.home6,
.projects10 {
  top: 242px;
  left: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 46px;
}
.about6,
.contact9,
.home6 {
  top: 104px;
  left: 97px;
  width: 103px;
}
.about6,
.contact9 {
  top: 196px;
  left: 79px;
  width: 139px;
}
.about6 {
  top: 150px;
  left: 93px;
  width: 111px;
}
.icon5,
.pngtree-instagram-icon-instagr6 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 68.5px;
  height: 61px;
  object-fit: cover;
  mix-blend-mode: luminosity;
}
.icon5 {
  top: 3287.7px;
  left: 623.5px;
  width: 58.8px;
  height: 50.2px;
  display: none;
}
.mdigithub-icon5 {
  position: absolute;
  top: 0;
  left: 122px;
  width: 68px;
  height: 68px;
  overflow: hidden;
}
.linkedin-logo-png-1-icon5,
.twitter-logo-vector-png-clipar-icon5 {
  position: absolute;
  top: 3px;
  left: 243.2px;
  width: 68.5px;
  height: 61px;
  object-fit: cover;
  mix-blend-mode: luminosity;
}
.linkedin-logo-png-1-icon5 {
  left: 359.2px;
  width: 264.8px;
}
.footer-socials6,
.footer3 {
  position: absolute;
  top: 135px;
  left: 497px;
  width: 624px;
  height: 68px;
}
.footer3 {
  top: 3144px;
  left: 0;
  width: 1440px;
  height: 337px;
  font-size: var(--font-size-lg);
  color: var(--color-lightgray-200);
}
.qual-field-child {
  position: absolute;
  top: 0;
  left: -13.3px;
  width: 26.7px;
  height: 205.3px;
}
.webflow-101-certification1 {
  font-weight: 800;
}
.oct,
.webflow-101-certification {
  margin: 0;
}
.oct {
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.webflow-101-certification-container {
  position: absolute;
  top: 0;
  left: 28px;
  line-height: 110%;
  display: inline-block;
  width: 919px;
}
.qual-field,
.qual-field-item {
  position: absolute;
  top: 110px;
  left: 84px;
  width: 947px;
  height: 192px;
}
.qual-field-item {
  top: 0;
  left: -13.3px;
  width: 26.7px;
  height: 230.3px;
}
.figma-essential-training {
  margin: 0;
  font-weight: 800;
}
.qual-field1 {
  position: absolute;
  top: 368px;
  left: 84px;
  width: 947px;
  height: 217px;
}
.qual-field-inner {
  position: absolute;
  top: 0;
  left: -13.3px;
  width: 26.7px;
  height: 161.3px;
}
.blank-line5 {
  font-weight: 500;
}
.blank-line4 {
  margin: 0;
  font-size: var(--font-size-13xl);
}
.qual-field2 {
  position: absolute;
  top: 651px;
  left: 84px;
  width: 947px;
  height: 148px;
}
.licenses-certifications {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 110%;
  font-weight: 800;
  color: var(--color-mediumturquoise);
  text-align: center;
}
.certificates {
  position: absolute;
  top: 1826px;
  left: 152px;
  width: 1031px;
  height: 799px;
  text-align: left;
}
.web-designer {
  margin: 0;
  font-size: var(--font-size-21xl);
  font-weight: 800;
}
.crossshore-solutions {
  margin: 0;
  font-weight: 500;
}
.qual-field3,
.qual-field4 {
  position: absolute;
  top: 110px;
  left: 86px;
  width: 947px;
  height: 192px;
}
.qual-field4 {
  top: 368px;
  height: 217px;
}
.qual-field-child2,
.qual-field5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 148px;
  height: 0;
}
.qual-field5 {
  top: 651px;
  left: 86px;
  width: 947px;
  height: 148px;
  display: none;
}
.experience1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-21xl);
  line-height: 110%;
  font-weight: 800;
  color: var(--color-mediumturquoise);
  text-align: center;
}
.experience {
  position: absolute;
  top: 1141px;
  left: 150px;
  width: 1033px;
  height: 585px;
  text-align: left;
  font-size: var(--font-size-13xl);
}
.gls-university-bachelor-container {
  position: absolute;
  top: 0;
  left: 28px;
  line-height: 110%;
  white-space: pre-wrap;
  display: inline-block;
  width: 919px;
}
.qual-field6,
.qual-field7,
.qual-field8 {
  position: absolute;
  top: 113px;
  left: 92px;
  width: 947px;
  height: 201px;
}
.qual-field7,
.qual-field8 {
  top: 371px;
  height: 217px;
}
.qual-field8 {
  top: 654px;
  height: 148px;
  display: none;
  font-size: var(--font-size-13xl);
}
.quals {
  position: absolute;
  top: 453px;
  left: 144px;
  width: 1039px;
  height: 588px;
  text-align: left;
}
.bout-me {
  color: var(--color-lightgray-200);
}
.about-me2 {
  top: 4px;
  left: calc(50% - 283.5px);
  line-height: 110%;
  font-weight: 800;
}
.a9,
.about-me2,
.hero3 {
  position: absolute;
}
.a9 {
  top: 0;
  left: calc(50% - 291.5px);
  line-height: 110%;
  font-weight: 800;
  -webkit-text-stroke: 4px #d2c2c1;
}
.hero3 {
  top: 220px;
  left: calc(50% - 576px);
  width: 583px;
  height: 145px;
  font-size: var(--font-size-109xl);
  color: var(--color-lightgray-300);
}
.about7,
.anjanaa,
.contact10,
.home7,
.projects11 {
  position: absolute;
  letter-spacing: 0.01em;
  line-height: 110%;
}
.anjanaa {
  top: 0;
  left: 0;
  font-size: var(--font-size-21xl);
  -webkit-text-stroke: 1px #dac9c9;
  color: var(--color-lightgray-100);
}
.about7,
.contact10,
.home7,
.projects11 {
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
}
.home7 {
  left: 677px;
  width: 104px;
  cursor: pointer;
}
.about7,
.contact10,
.projects11 {
  left: 801px;
  width: 113px;
}
.contact10,
.projects11 {
  left: 934px;
  width: 141px;
  cursor: pointer;
}
.projects11 {
  left: 1095px;
  width: 146px;
}
.navbar3 {
  position: absolute;
  top: 79px;
  left: 77px;
  width: 1241px;
  height: 45px;
  font-size: var(--font-size-4xl);
  color: var(--color-lightgray-200);
}
.about-page {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 3481px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-outfit);
}
